/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.formdiv{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    background: white;
    height: 35rem;
}
.error-message{
    color: red;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 8px;
}
.signinparagraph{
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.signinparagraph a{
    text-decoration: none;
    margin: 5px;
}
.signinparagraph a:hover{
    text-decoration: underline;
}
.fillform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
    margin-top: 60px;
    font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
    height: 28rem;
    background: bisque;
}
.signindata{
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.btnsubmit:hover{
    background-color: black;
    color: white;
}
.btnsubmit{
    background: transparent;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: large;
    padding: 10px;
}

@media(max-width:990px) and (min-width:711px){
     .formdiv{
         display: flex;
         /* flex-direction: column;  */
         justify-content: center;
         align-items: center; 
         background: white;
         height: 32rem;
     }
     .error-message{
         color: red;
         font-size: smaller;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         margin-bottom: 8px;
         text-align: center;
     }
     .fillform{
         display: flex;
         flex-direction: column;
         border-radius: 10px;
         width: 80%;
         margin-top: 60px;
         height: 28rem;
         background: bisque;
     }
}
@media(max-width:710px) and (min-width:467px) {
    .container{
       max-width: 540px;
    }
    .formdiv{
        display: flex;
        /* flex-direction: column;  */
        justify-content: center;
        align-items: center; 
        background: white;
        height: 35rem;
    }
    .error-message{
        color: red;
        font-size: smaller;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 8px;
        text-align: center;
    }
    .fillform{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 80%;
        margin-top: 60px;
        height: 27rem;
        background: bisque;
    }
}

@media(min-width:265px) and (max-width:466px){
    .container{
        max-width: 540px;
     }
     .formdiv{
         display: flex;
         /* flex-direction: column;  */
         justify-content: center;
         align-items: center; 
         background: white;
         height: 30rem;
     }
     .error-message{
        color: red;
        font-size: smaller;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 8px;
        text-align: center;
    }
     .fillform{
         display: flex;
         flex-direction: column;
         border-radius: 10px;
         width: 80%;
         margin-top: 60px;
         height: 27rem;
         background: bisque;
     }
}