.offcanvas{
     max-height: 78%; 
    width: 40%; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: blue; 
    overflow-x: hidden;
    border-radius: 10px; 
    padding-top: 60px; 
    transition: 0.5s; 
    /* visibility: visible !important;
    transform: translateX(0)  */
  }
  .signoutpara{
    color: white;
    font-size: larger;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: thin;
    display: inline;
  }
  .signinspan{
    display: flex;
    padding: 0 5px 5px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
  }
  .signinimags{
    height: 1.5rem;
    margin: 8px 0 3px 0;
  }
  .link{
    margin: 1px 0 10px 0;
    color: white;
  }
  .link:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  .signoutpara:hover{
    text-decoration: underline;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
    color: whitesmoke;
  }

  .body ul{
    display: flex;
    list-style: none;
    gap: 10px;
    flex-direction: column;
  }
  .title{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
    color: red;
    margin: 5px 0 0 50px;
  }
  .body li{
    margin: 5px;
  }
  .body li a {
    padding: 6px 6px 6px 15px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .body li a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media(max-width:710px) and (min-width:467px) {
    .title{
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 20px;
      font-style: italic;
      color: red;
      margin: 0 0 0 20px;
    }
    .body li a {
      padding: 5px 5px 5px 32px;
      text-decoration: none;
      font-size: 15px;
      color: white;
      display: block;
      transition: 0.3s;
    }
    .offcanvas{
      max-height: 90%; 
     width: 42%; 
     position: fixed; 
     z-index: 1; 
     top: 0;
     left: 0;
     background-color: blue; 
     overflow-x: hidden;
     border-radius: 10px; 
     padding-top: 60px; 
     transition: 0.5s; 
     /* visibility: visible !important;
     transform: translateX(0)  */
   }
  }
  @media(max-width:990px) and (min-width:711px){
    .title{
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 30px;
      font-style: italic;
      color: red;
      margin: 0 0 0 50px;
    }
    .body li a {
      padding: 5px 5px 5px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }
  }
  @media(min-width:265px) and (max-width:466px){
    .title{
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 20px;
      font-style: italic;
      color: red;
      margin: 0 0 0 20px;
    }
    .offcanvasbtn{
      display: none;
    }
    .offcanvas{
      display: none;
    }
    .body li a {
      padding: 5px 5px 5px 32px;
      text-decoration: none;
      font-size: 13px;
      color: white;
      display: block;
      transition: 0.3s;
    }
    .offcanvas{
     max-height: 99%; 
     width: 42%; 
     position: fixed; 
     z-index: 1; 
     top: 0;
     left: 0;
     background-color: blue; 
     overflow-x: hidden;
     border-radius: 10px; 
     padding-top: 60px; 
     transition: 0.5s; 
     /* visibility: visible !important;
     transform: translateX(0)  */
   }
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */