.modaldiv{
    height: 43rem;
    background-color: pink;

}

.purchasenavbar{
  display: none;
}
.offcanvasdiv{
  height: 99%;
  width: 60%;
}
.sales{
    height: 30rem;
    width: 80%;
    padding: 40px 20px 0 40px;

}
.showbtn{
  padding: 10px;
  font-size: larger;
  background-color: purple;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
}
.inventorylist{
  height: 10rem;
  width: 99%;
  text-align: center;
  border: 1px solid whitesmoke;
}
.inventorylist thead{
  height: 2rem;
  background-color: bisque;
}
.inventorylist tbody tr td{
  border-bottom: 1px solid whitesmoke;
  height: 4rem;
}
.inventorylist tbody tr td button{
   padding: 7px;
   font-size: medium;
   background-color: transparent;
   border-top-left-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: black;
   color: white;
}
.inventorylist tbody tr td button:hover{
  background-color: rgba(0, 0, 0, 0.735);
  cursor: pointer;
}
.salediv{
  display: flex;
  justify-content: space-between;
  height: 30rem;
  /* flex-wrap: wrap; */
}
.modaltitle{
  height: 2rem;
  font-family: fantasy;
  color: brown;
 
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    height: 35rem;
    width: 30%; /* Could be more or less, depending on screen size */
  }
 
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .closebtn{
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.536);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }
  .changebtn a{
    color: black;
  }
  .changebtn{
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.536);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  @media(max-width:710px) and (min-width:467px) {
    .modal-content {
      background-color: #fefefe;
      margin: 2% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      border-radius: 10px;
      height: 35rem;
      width: 80%; /* Could be more or less, depending on screen size */
    }
  }
  @media(max-width:990px) and (min-width:711px){
   
  }
  @media(min-width:265px) and (max-width:466px){
    .modal-content {
      background-color: #fefefe;
      margin: 9% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      border-radius: 10px;
      height: 35rem;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    
    .purchasenavbar{
      display: block;
      display: flex;
      background: whitesmoke;
      height: 5rem;
      width: 99%;
      justify-content: space-between;
      margin: 0 30px 0 10px;
    }
    .menu-toggle {
      display: block;
      margin-top: 17px;
      border-radius: 5px;
    }
  
    .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      max-height: 100%;
      left: 0;
      width: 100%;
      border-bottom-right-radius: 100px;
      background-color: bisque;
      transition: all .5s;
      text-align: center;
    }
 
    .nav-list.show {
      display: flex;
    }
    .nav-list li {
      margin: 13px;
     font-size: larger;
     color: black;
   }
     
   /* .nav-list a {
      text-decoration: none;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
   } */
   li a:hover{
       transition: .5s;
       color: blue;
       cursor: pointer;
   }
  .signinimage{
      display: none;
  }
    .inventorylist{
      height: 10rem;
      width: 100%;
      text-align: center;
      border: 1px solid whitesmoke;
    }
    .inventorylist thead{
      height: 2rem;
      /* width: 100%; */
      background-color: bisque;
    }
    .inventorylist tbody tr td{
      border-bottom: 1px solid whitesmoke;
      height: 4rem;
      /* width: 99%; */
    }
    .inventorylist tbody tr td button{
       padding: 7px;
       font-size: large;
       background-color: transparent;
       border-top-left-radius: 5px;
       border-bottom-right-radius: 5px;
       background-color: black;
       color: white;
    }
    .sales{
      height: 30rem;
      width: 99%;
      padding: 40px 15px 0 15px;
  
  }
  .offcanvasdiv{
    display: none;
  }
  .salediv{
    display: flex;
    justify-content: flex-start;
    height: 20rem;
    width: 100%;
    /* flex-wrap: wrap; */
  }
  .modaldiv{
    height: 30rem;
    background-color: pink;
    border-radius: 10px;
  }
  }